#teksti {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 50%;
  text-align: right;
}
a {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  text-align: right;
  font-size: 100%;
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}

ol {
  padding: 1;
}